{
    "class": "{{ index_name }}",
    "description": "{{ class_description }}",
    "properties": [ 
        {
            "dataType": ["text"],
            "description": "{{ dataType_description1 }}",
            "name": "{{ text_key }}"
        }
    ],
    "vectorIndexConfig": {
        "distance": "{{ distance_function }}"}
}